html,
body {
    height: 100%;
    font-family: sans-serif;
}

section#container {
    width: 95%;
    margin: 50px auto 0;
    padding: 20px 0;
    box-shadow: 1px 1px 15px 3px #e9e0e0;
    border-radius: 10px;
}

section#score {
    width: 95%;
    margin: 20px auto;
    height: 200px;
    padding: 20px 10px;
    box-shadow: 1px 1px 15px 3px #e9e0e0;
    border-radius: 10px;
    position: relative;
}

section#score h2 {
    margin: 0;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    display: inline;
}

section#score p#winnerCondition {
    position: absolute;
    bottom: 30px;
    font-weight: 700;
}

section#score p#moves {
    margin-top: 20px;
    font-size: 18px;
    display: inline;
}

section#score p.winnerDisplay {
    background-color: #67a067;
    color: #fff;
}

header h1 {
    margin: 0;
    padding: 10px 0;
    height: 60px;
    color: #fff;
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    Background: linear-gradient(to bottom, #162c47cc 10%, rgba(46, 48, 206, 0));
}

div.colunas {
    width: 10px;
    height: 125px;
    border-radius: 5px;
    background-color: #000;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    cursor: pointer;    
}

div#coluna0 {
    margin-left: 20%;
}

div#coluna1 {
    margin-left: 48%;
}

div#coluna2 {
    margin-left: 75%;
}

div#box1,
div#box2,
div#box3,
div#box4 {
    height: 30px;
    border: 1px solid #000;
    border-radius: 5px;
    color: #fff;
    text-align: center;
    font-variant: small-caps;
    font-weight: 700;
    font-size: 14px;      
}

div#box4 {
    width: 50px;
    background-color: #4e68c0;     
}

div#box4.shadow {
    box-shadow: 0px 0px 10px 2px #4e68c0;
}

div#box3 {
    width: 70px;
    background-color: #764888;
    font-size: 12px;
}

div#box3.shadow {
    box-shadow: 0px 0px 10px 2px #764888;
}

div#box2 {
    width: 90px;
    background-color: #82bb41;
    font-size: 12px;    
}

div#box2.shadow {
    box-shadow: 0px 0px 10px 2px #82bb41;
}

div#box1 {
    width: 110px;
    background-color: #bb4141;
    font-size: 13px;
    padding: 3px 0;
}

div#box1.shadow {
    box-shadow: 0px 0px 10px 2px #bb4141;
}

button#reset {
    float: right;  
    margin-top: 40px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #fff;
    color: #0b4a6e;
    text-transform: uppercase;
    box-shadow: 1px 5px 10px 0px #908f8f;
    transition: 0.15s;       
}

button#reset:active {
    transform: translateY(5px);
    box-shadow: 0px 2px 3px #908a8a;
    transition: 0.15s;   
}

.choosed{
    transform: scale(1.1);    
    opacity: 95%;    
    transition: 0.2s;
}


/* MEDIA QUERIES */

@media only screen and (min-width: 400px) {}

@media only screen and (min-width: 768px) {
    section#container {
        max-width: 800px;
        display: flex;
        flex-wrap: wrap;
    }
    section#score,
    header {
        margin: 0 auto;
        max-width: 800px;
    }
    section#score {
        margin: 10px auto;
    }
    div#coluna0 {
        margin-left: 18%;
    }
    div#coluna1,
    div#coluna2 {
        margin-left: 30%;
    }
    div.colunas {
        width: 10px;
        height: 200px;
    }
    div.colunas:hover{
        background-color: #6d7a90;        
    }
    div#box1,
    div#box2,
    div#box3,
    div#box4 {
        height: 35px;
        border-radius: 6px;
    }
    div#box1 {
        width: 150px;
        padding: 7px;
    }
    div#box2 {
        width: 120px;
        padding: 8px 0;
    }
    div#box3 {
        width: 90px;
    }
    div#box4 {
        width: 60px;
    }

    button#reset {        
        margin-right: 20px;
    }
}